<div class="col-xs-6">
  <h3>Closed Tickets</h3>
  <h3>Average Help Time: {{averageTime}} Minutes</h3>
  <h4>Daily Total: {{dayTotal}}</h4>
  <ul>
    {{#each students as |student|}}
      <li>{{student.name}} - Time Taken: {{time-difference student}} minutes</li>
    {{/each}}
  </ul>
</div>
