  <h4>Help is on the way {{student.name}}</h4>
  <button class="btn" {{action 'destroyStudent' student}}>Cancel Ticket</button>
  <button class="btn" {{action 'closeTicket' student}}>Teacher Helped Me!</button>
