<div class="well" id="header">
  <h1>Queue</h1>
  {{#link-to 'index'}}<button class="btn">Home</button>{{/link-to}}
  {{#link-to 'teacher'}}<button class="btn">Teacher</button>{{/link-to}}
</div>
<div class="container">
  {{outlet}}
</div>
